* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    /* align-content: center; */
    background-color: #212529;
}

h1 {
    color: white;
    margin-bottom: 20px;
    
}

#logo {
    margin-left: 10px;
}
.inputs {
    display: flex;
    gap: 10px;
}
.container {
    display: flex;
    flex-direction: column;
    /* background-color: #343a40; */
    height: 300px;
    width: 400px;
    margin-top: 100px;
    align-items: center;
    padding: 20px 20px;
    
    
}
#input {
    height: 30px;
    width: 300px;
    border: 2px solid white;
    padding: 0 0 0 10px;
}

#add-btn {
    height: 35px;
    width: 80px;
    background-color: #495057;
    color: black;
    border: none;
    font-weight: bold;
}

#add-btn:hover {
    background-color: #6c757d;
    cursor: pointer;
}

ul li {
    margin-top: 10px;
    list-style-type: none;
    padding-left:10px ;
    background-color: white;
    color: black;
    height: 30px;
    width: 390px;
    justify-content: center;
    align-content: center;
    position: relative;
    
    
}

ul li i {
    justify-content: center;
    align-content: center;
    justify-content: space-between;
    
    cursor: pointer;
}

ul li .bin {
    justify-content: center;
    align-content: center;
    justify-content: space-between;
    position: absolute;
    right: 10px;
    cursor: pointer;
}

ul li .cirlce {
    justify-content: center;
    align-content: center;
    justify-content: space-between;
    position: absolute;
    left: 10px;
    cursor: pointer;
    margin-right: 20px;
}